.techno-add {
  padding: 2em;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 0.8em 1em;
  margin: 0.4em 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 0.8em 1em;
  margin: 0.4em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 0.8em 1em;
  margin: 0.4em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 0.8em 1em;
  margin: 0.4em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
